html {
  background-color: #f8f9fa;
}

.App {
  text-align: center;
  background-color: #f8f9fa;
}

.App body {
  align-items: center;
  padding: 1.25rem;
	max-width: 800px;
  margin: auto;
  
  
}

.App footer p {
  margin-top: 4rem;
  margin-bottom: 10rem;
  padding: 1.25rem;
	max-width: 800px;
  margin: auto;
  
}

.App Form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.App Form h1 {
  text-align: center;
  margin: auto;
  margin-top: 40px;
	font-size: 25px;
}

.App Form Button {
  padding: .5rem 1rem;
}

